<div class="container">
  <div>
    <label class="title">{{titleize title}}</label>
    {{#if isModelLoaded }}
      <div class="generalInfo">
        <div class="taskIcon">
          {{inline-svg "task_completed"}}
        </div>
        <p><span class="info">Identity : </span><span class="info-details">{{questionnaire.identifier}}</span></p>
        <p><span class="info">Descriptions : </span><span class="info-details">{{questionnaire.description}}</span></p>
        <p><span class="info">Category : </span><span
          class="info-details">{{questionnaire.categoryNameHyphenated}}</span></p>
        <p><span class="info">Total Questions : </span><span
          class="numberCircle">{{questionnaire.questions.length}}</span></p>
      </div>
      <div>
        <form>
          {{#each questionnaire.questions as |question|}}
            {{#if (eq question.questionType "multiple-choice")}}
              <fieldset>
                <label for={{question.identifier}}>{{question.headline}}</label>
                {{#each question.choices as |choice|}}
                  {{#let (replace-character choice.value) as |extraID|}}
                    {{#let (concat question.identifier extraID) as |choiceID|}}
                      <div id={{concat question.identifier "div"}}>
                        {{#if (eq question.multiple "true")}}
                          <input type='checkbox' name={{question.identifier}} id={{choiceID}}
                                 value={{choice.value}} onChange={{action "jumpToPosition" question.jumps extraID}}
                                 checked={{choice.selected}}/>
                        {{else}}
                          <input type='radio' name={{question.identifier}} id={{choiceID}}
                                 value={{choice.value}} onChange={{action "jumpToPosition" question.jumps extraID}}
                                 checked={{choice.selected}}/>
                        {{/if}}
                        <label for={{choiceID}}>{{choice.label}}</label>
                      </div>
                    {{/let}}
                  {{/let}}
                {{/each}}
              </fieldset>
            {{/if}}
            {{#if (eq question.questionType "text")}}
              <fieldset>
                <label for={{question.identifier}}>{{question.headline}}</label>
                <div id={{concat question.identifier "div"}}>
                  {{#if (eq question.multiline "true")}}
                    <textarea name={{question.identifier}} id={{question.identifier}} value='' cols='80' rows='6'
                              required={{question.required}} onChange={{action "jumpToPosition" question.jumps
                                                                               ''}}></textarea>
                  {{else}}
                    <input type='text' name={{question.identifier}} id={{question.identifier}}
                           required={{question.required}} onChange={{action "jumpToPosition" question.jumps ''}} />
                  {{/if}}
                </div>
              </fieldset>
            {{/if}}
          {{/each}}
        </form>
      </div>
    {{/if}}
  </div>
</div>
{{yield}}