* {
  box-sizing: border-box;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.title{
  color: #865931;
  display: block;
  text-align: center;
  line-height: 150%;
  font: 32px Arial, sans-serif;
}
.generalInfo{
  padding: 12px 12px 12px 20px;
  background-color: cornflowerblue;
}
.generalInfo .info{
  color: white;
  font-weight: bolder;
}
.generalInfo .info-details{
  color: ghostwhite;
}
.generalInfo .info-details:hover{
  font-weight: bold;
}
fieldset {
  border-radius: 15px;
  border: 2px solid #FFFFF0;
  margin: 15px;
  background-color: #FFFFF0;
}

fieldset:hover{
  background: #F5FFFA;
  color: #191970;
  border-radius: 20px;
  border-top: 7px solid #B0C4DE;
  border-bottom: 10px solid #B0C4DE;
}
fieldset label:first-child:hover{
  font-weight:bold;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
fieldset label {
  padding: 12px 12px 12px 8px;
  display: inline-block;
}
.activeDiv{
  background: #F5FFFA;
  color: #191970;
  border-radius: 20px;
  border-top: 7px solid #B0C4DE;
  border-bottom: 10px solid #B0C4DE;
}
.numberCircle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 8px;
  background-color: seashell;
  border: 2px solid white;
  color: #c13c27;
  text-align: center;
  font: 15px Arial, sans-serif;
}
.taskIcon{
  padding-top: 2%;
  float: right;
  width: 4%;
  height: 2%;
}
@media screen and (max-width: 600px) {
  .title {
    font: 18px Arial, sans-serif;
  }
}
